{% extends 'base.html' %} {% load static %}
     {% block content %}
<style>

    p label {
        margin: 20px 0 10px 0;
    }
    input, select, textarea {
  font-size: 1em;
  border-radius: 4px;
  border-width: 1px;
  border-style: solid;
  min-width: 100%;
  font-family: inherit;
  background-color: #fff;
  border-color: #b8bdc9;
  color: #2c3345;
  padding: 0 0.625em;
}
input:hover, select:hover, textarea:hover {
  border-width: 2px;
}
input:focus, select:focus, textarea:focus {
  border-color: #2e69ff;
  box-shadow: 0 0 0 3px rgba(46, 105, 255, 0.25);
}
input:focus .section, select:focus .section, textarea:focus .section {
  background-color: #f3f3fe;
}
.django-ckeditor-widget {
    width: 100% !important;
}
#cke_1_contents {
    min-height: 400px !important;
}
p span {
    font-style: italic;
    font-size: small;
}
</style>
        <!-- main-area -->
        <main class="fix">

            <!-- breadcrumb-area -->
            <div class="breadcrumb-area">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="breadcrumb-content">
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="{% url 'home' %}">Bosh sahifa</a></li>
                                        <li class="breadcrumb-item active" aria-current="page">Muallif bo'lish</li>
                                    </ol>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- breadcrumb-area-end -->

            <!-- about-area -->
            <section class="about-area pt-80 pb-80">
                <div class="container">
                    <div class="row align-items-center justify-content-center">
                        {% if msg %}
                        <h3>{{msg}}</h3>
                        {% else %}
                        <h3>Muallif bo'lish uchun iltimos o'zingiz haqingizda adminga bildiring</h3>
                        
                        <form method="POST">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <div style="display: flex; justify-content: end;"><button class="btn" type="submit">Saqlash</button></div>
                        </form>
                        {% endif %}
                    </div>
                </div>
            </section>
            <!-- about-area-end -->

          

        </main>
        <!-- main-area-end -->

        {% endblock %}